.header {
    position: absolute;
    display: flex;
    z-index: 1;
    top: 0;
    color: var(--text);
    padding: 35px;
    justify-content: space-between;
    width: 100%;
    font-weight: 300;
    box-sizing: border-box;
    align-items: center;

    .logo {
        display: flex;
        cursor: pointer;
        align-items: center;
        flex: 1;

        .logoImage {
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .headerLogo {
            object-fit: contain;
            filter: brightness(0) invert(0); // Makes the logo black
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }

        &:hover {
            .headerLogo {
                transform: scale(1.1) rotate(5deg);
            }
        }
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 2;

        .el {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            padding: 15px;
            cursor: pointer;

            &:hover {
                .indicator {
                    transform: scale(1);
                }
            }

            .indicator {
                position: absolute;
                width: 5px;
                height: 5px;
                top: 45px;
                left: 50%;
                background-color: var(--text);
                border-radius: 50%;
                transform: scale(0) translateX(-50%);
                transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
            }
        }

        a {
            cursor: pointer;
            color: var(--text);
        }
    }

    .rightNav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;

        .el {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            padding: 15px;
            cursor: pointer;

            &:hover {
                .indicator {
                    transform: scale(1);
                }
            }

            .indicator {
                position: absolute;
                width: 5px;
                height: 5px;
                top: 45px;
                left: 50%;
                background-color: var(--text);
                border-radius: 50%;
                transform: scale(0) translateX(-50%);
                transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
            }
        }

        a {
            cursor: pointer;
            color: var(--text);
        }
    }
}

.headerButtonContainer {
    transform: scale(0);
    position: fixed;
    right: 0px;
    z-index: 4;

    .button {
        position: relative;
        margin: 20px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: var(--text);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger {
        width: 100%;
        position: relative;
        z-index: 1;

        &::after,
        &::before {
            content: "";
            display: block;
            height: 1px;
            width: 40%;
            margin: auto;
            background-color: var(--bg);
            position: relative;
            transition: transform 0.3s;
        }

        &::after {
            top: -5px;
        }

        &::before {
            top: 5px;
        }
    }

    .burgerActive {

        &::after {
            transform: rotate(45deg);
            top: -1px;
        }

        &::before {
            transform: rotate(-45deg);
            top: 0px;
        }

    }
}